<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KnowledgeBase - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fontawesome-free-5.11.2-web/css/all.css'>
    <script>
        function reset() {
            document.querySelector(".list-item").innerHTML = '';
        }
    </script>
</head>

<body>
    <header>
        <%- include('../partials/logo.ejs') %>
    </header>
    <div class="body-container">
        <div class="form-entry">
            <h1><%= title %></h1>
            <%-include('../partials/backBtn.ejs') %>
            <%- include('./new.ejs') %>
        </div>
        <div class="side-list right-side">
            <% for (entry of journal){ %>
            <div class="list-item">
                <form action="/journals/<%= entry._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn delete-btn btn-float-right">X</button>
                </form>
                <a href="/journals/<%= entry._id %>/view">
                <p><%= entry.createdAt %></
                </a>
            </div>
            <% } %>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>