<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KnowledgeBase - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fontawesome-free-5.11.2-web/css/all.css'>
    <script>
        function reset() {
            document.querySelector(".list-item").innerHTML = '';
        }
    </script>
</head>
<header>
    <%- include('../partials/logo.ejs') %>
</header>

<body>
    <div class="body-container">
        <div>
            <h1><%= title %></h1>
            <%-include('../partials/backBtn') %>
            <div class="side-list right-side">
                <% for (pub of publications){ %>
                <div class="list-item">
                    <form action="/publications/<%= pub._id %>?_method=DELETE" method="POST">
                        <button type="submit" class="btn delete-btn btn-float-right">X</button>
                    </form>
                    <a href="/publications/<%= pub._id %>/edit">
                        <button class="btn fa fa-edit">
                        </button>
                    </a>
                    <h4><%=pub.title%></h4>
                    <p><%=pub.author%></p>
                    <p><a href="<%=pub.source%>" target="_blank">Source Link</a></p>
                </div>
                <% } %>
            </div>
            <div class="form-entry">
                <%- include('new') %>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>