<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KnowledgeBase - <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/fontawesome-free-5.11.2-web/css/all.css'>
</head>

<body>
    <div class="body-container">
        <h1><%= title %></h1>
        <form class="form-entry" action="/sleep/<%= night._id %>?_method=PUT" method="POST">
            <input type="text" name="user" value="<%= night.user %>" style="visibility: hidden;"><br>
            <label>Start Time</label>
            <input type="date" name="start-date" value="<% new Date('01/21/2019') %>"
             placeholder="Start Date">
            <input type="time" name="startTime" value="<%= startTime %>" placeholder="Start Time">
            <br>
            <label>End Time</label>
            <input type="text" name="endDate" value="<%= endDate %>" placeholder="End Date">
            <input type="text" name="endTime" value="<%= endTime %>" placeholder="End Time">
            <br>
            <label>Duration:</label>
            <input type="text" name=duration value="<%= duration %>" placeholder="Duration">
            <textarea type="text" name="notes" value="<%= night.notes %>" placeholder="Notes"></textarea>
            <button type="submit" class="new-entry-btn btn">Save and Exit</button>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>